<div class="container">
<form class="shopping-form">
    <mat-form-field class="shopping-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" value="">
    </mat-form-field>
    <mat-form-field class="shopping-full-width">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" value="">
      </mat-form-field>
      <br>
      <button mat-flat-button color="accent" class="shopping">
        Add
      </button>
      <button mat-flat-button color="accent" class="shopping">
        Delete
      </button>
      <button mat-flat-button color="accent" class="shopping">
        Clear
      </button>
  </form>
</div>
