<button mat-flat-button color="primary" >
  <mat-form-field appearance="fill">
    <mat-label>Manage</mat-label>
    <mat-select>
      <mat-option value="one">To shopping list</mat-option>
      <mat-option value="two">Edit</mat-option>
      <mat-option value="three">Delete</mat-option>
    </mat-select>
  </mat-form-field>
</button>
  <table>
    <tr >
        <td>Recipe name</td>
        <td  rowspan="3">                                
            <img width="75px" height="75px" src="https://images.squarespace-cdn.com/content/v1/5ade3e0e89c172449f88ac65/1614124509238-DZRBXSDATGWCUGTMHQM3/ke17ZwdGBToddI8pDm48kO4Rzin9hdjjWyHGKsueu-J7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hHMyhIh2kKzuOL3ydJCryDQx51w8Xr20qkny1EoJYIDiHvzfsogRKyWSKFKWODDmQ/Walnut+Cookies.jpg" 
            alt="Test Recipe" layout-fill>
        </td>
    </tr>
    <tr>
        <td>Description</td>
    </tr>
    <tr>
      <td colspan="2">
        Ingredients
      </td>
    </tr>
</table>